<h1>Burgers to Devour</h1>
<div id='burgerImg'><img  src="./img/greenBurger.jpg" alt="Green Burger"></div>
<form>
  <p>
    <label for="title">Burger Name</label>
    <input type="text" name="name" id="burgerName">
  </p>
  <button id="addBurger">Add Burger</button>
</form>
<div id='listContainer'>
<ol id="burgers">
   <h2>Devour me</h2>
  {{#each devour}}
  <li>
    {{this.burger_name}}
    <button class="devour" data-id="{{this.id}}"
      value="{{this.burger_name}}">Devour It</button>
  </li>
  {{/each}}
</ol>

<ul id='devoured'>
  <h2>Devoured</h2>
  {{#each devoured}}
  <li>
    {{this.burger_name}}
  </li>
  {{/each}}
</ul>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src='./burgers.js'></script>
