body {
  display: grid;
  align-content: center;
  text-align: center;
  background-image: linear-gradient(red, yellow);
}

#listContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#burgerImg {
  display: inline-block;
  margin: auto;
  border-radius: 15px;
}